<div class="container my-5">
  <div class="row">
    <h2>投稿コメント一覧</h2>
  </div>
  <div class="row mt-3">
    <div class="offset-sm-1 col-sm-10">
      <table class="table table-striped table-hover text-center">
        <thead>
          <tr>
            <th>ユーザーID</th>
            <th>コメントユーザー</th>
            <th>コメントした投稿</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.id %></td>
            <td><%= comment.user.screen_name %></td>
            <td><%= link_to admin_comment_path(comment) do %>
                  <%= comment.post.title %>
                <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>