<div class="container my-5">
  <div class="text-center">
    <p class="home-text">ようこそ、ながのCAKEへ！</br>
       このサイトは、ケーキ販売のECサイトになります。</br>
       会員でない方も商品閲覧はできますが、</br>
       購入には会員登録が必要になります。
    </p>
    <div class="eyecatch">
      kkkkk
    </div>
  </div>
</div>