              <% @posts.each do |post| %>
                <div>レビュー</div>
                <div>
                  <strong><%= post.user.screen_name %></strong>
                  <br />
                  <p><%= post.text %></p>
                    <% if user_signed_in? && post.user == current_user %>
                      <p><%= link_to 'Delete', user_post_path(post), method: :delete %></p>
                    <% end %>
                </div>
              <% end %>
