<div class="container my-5">
  <div class="row">
    <div class="col text-center">
      <div class="p-3 mb-2 bg-light text-black">
        <div class="row mt-3 mb-3 text-center text-md-left">
            <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
              <%= image_tag @post.image.variant(resize: '200x200'), class: 'post-image' if @post.image.attached? %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
