
.background {
  background-image: url("<%= asset_path('pan.jpeg') %>")
  height: 800px;
  background-size: cover;
}

.color {
  height: 250px;                  /* 高さ指定 */
  padding:  20px;                 /* 余白指定 */
  background-color: powderblue;
}