<div class="container my-5">
  <div class="row">
    <h2>ユーザー詳細</h2>
  </div>
  <div class="row mt-3">
    <div class="offset-sm-1 col-sm-10">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <td>ハンドルネーム</td>
            <td><%= @user.screen_name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td><% if @user.is_deleted == false %>
                  <div class="bg-info d-inline text-white p-1 ml-3 rounded">
                  有効
                <% else %>
                  <div class="bg-warning d-inline text-white p-1 ml-3 rounded">
                  退会
                <% end %>
            </td>
          </tr>
          <tr>
            <td class="row"><%= link_to "編集する", edit_admin_user_path, class: "btn btn-primary" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>